
#pivo {
    display: flex;
    height: 150px;
}

body{
    padding: 0% 20% 0% 20%;
}

@media only screen and (max-width: 600px) {
    body {
      padding: 0;
    }
  }

.header {
    background: #db1838;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .header > .logoSlika {
    display: flex;
    margin: 20px;
    flex: 0 0 150px;
    height: 150px;
  }
  
  .header > .naslov {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
  }
  
  .header > .naslov > h1 {
      font-weight: bolder;
  }

.nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(78, 27, 36);
    justify-content: space-evenly;
}
.nav > div {
    flex: 0 0 31%;
    background:rgb(211, 34, 66);
    padding: 15px 0;
    margin: 10px;
    text-align: center;
    align-content: center;

}

a > h3 {
    text-align: center;
    color: lightgrey;
    font-weight: bold;

}

.dugme {
    flex: 0 0 31%;
    background:rgb(211, 34, 66);
    padding: 15px 0;
    margin: 10px;
    text-align: center;
}

.dugme > input {
    background-color:rgb(211, 34, 66);
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-weight: bold;
    color: #ffffff;
    font-size: x-large;

}


.glavno {
    display: flex;
    background-color: rgb(34, 34, 34);
    flex-direction: column;

}

.glavno > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glavno > div >h2 {
    text-align: center;
    text-decoration-line: underline;
    color: azure;
}

.glavno > div > form > h3{
    padding-top: 5px;
    text-align: center;
    color: rgb(210, 245, 245);
}

.form{
    padding: 20px;
    margin: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

input[type=text]:focus {
    background-color: rgb(212, 231, 238);
}

.uspeh {
    color: #0066ff;
    font-weight: bold;
    align-self: center;
    font-size: 200%;
}

.neuspeh {
    color: #ff0000;
    font-weight: bold;
    align-self: center;
    font-size: 200%;
}

.lista {
    display: flex;
}

.lista > ul {
    padding: 0;
}

.lista > ul >li {
    padding: 10px 0;
    margin-bottom: 30px;
}

.kockapiva{
    display: flex;
    flex-grow: 2;
    border: 1px solid black;
}

.rezulat {
    display: flex;
}

.kockapiva > div {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);

}

.pivoSlika {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

}
.slicica {
    height:200px;
}


.pivoInfo {
    display: flex;
    flex-grow: 1;
    align-items: flex-end ;
    padding-right:10px;
    flex-direction: column;
}

.listaInformacija {
    padding: 0;
    margin: 0;
}
.pivoInfo > ul >li {
    text-align: right;
        list-style-position: inside;

}


.footer {
    padding: 20px;
    text-align: center;
    background: rgb(63, 63, 63);
  }